/* -------------------- wwwroot/css/osk.css ------------------------ */
@media (max-width: 600px) {
  .key-standard,
  .key-special,
  .key-modifier {
    height: 40px;
    min-width: 40px;
    font-size: 0.9em;
  }

  .key-space {
    min-width: 300px;
    height: 40px;
  }
}
.active-modifier {
  background-color: #666 !important;
  color: white !important;
}

.key-modifier.active-modifier {
  background-color: #666 !important;
}

.key-special.active-modifier {
  background-color: #666 !important;
}
/* .osk-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #2d2d2d;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
} */
.osk-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  transition: none !important; /* Disable animations */
}

.osk-container.top-position {
  top: 20px;
}

.osk-container.bottom-position {
  bottom: 20px;
}

.osk-toggle-position {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  min-width: unset;
  border-radius: 50%;
  padding: 0;
  z-index: 1001;
  background-color: #3d3d3d !important;
}

.osk-toggle-position.top-position {
  bottom: -15px;
}

.osk-toggle-position.bottom-position {
  top: -15px;
}

.osk-key {
  width: 80px;
  height: 80px;
  font-size: 24px;
  text-align: center;
  border-radius: 20%;
  transition: background-color 0.1s ease-in-out;
  margin: 2px;
  color: white;
}
.osk-key:hover {
  background-color: #007bff;
  color: white;
}

.osk-key.active {
  background-color: #505050 !important;
  transform: scale(0.95);
}
.key-standard {
  background-color: #3d3d3d;
}
.key-modifier {
  background-color: #2a2a2a;
}
.key-special {
  background-color: #2a2a2a;
}
.key-space {
  background-color: #3d3d3d;
}
